
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- layout ---- */

html, body {
  height: 100%;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
/* -------- Font --------*/
body {
  font-family: 'Kreon', serif;
}
/* -------- Main -------- */
main {
  text-align: center;
  width: 728px;
  height: 509px;
}

h1 {
 font-size: 4em;
 text-align: center;
 margin-top: 80px;
 color: #C5EEA4;
 text-shadow: 0 0 0.2em #5A642D, 0 0 0.2em #5A642D;   
}

p {
  font-size: 3em;
  text-align: center;
  color: #C5EEA4;
  text-shadow: 0 0 0.2em #5A642D, 0 0 0.2em #5A642D;   
}

button {
  margin-top: 20px;
  color: #C5EEA4; 
  text-shadow: 0 0 0.3em #5A642D, 0 0 0.3em #5A642D;   
  background:  linear-gradient( #5A642D,#C5EEA4);
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'Kreon', serif;
  font-size: 2em;
  font-weight: bold; 
  box-shadow: 0 0 0.2em #5A642D, 0 0 0.2em #5A642D; 
}

/* -------- Game -------- */
.container {
  /*background-image: url('images/dora-background.jpg');
  background-position: center center;
  border: 5px solid #246E07; */
  cursor: url('images/cuchillo.png'),pointer; 
}

.game header {
  font-size: 2em;
  font-weight: bold;
  color: #C5EEA4;
  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; 
  display: flex;
  justify-content: space-between;
}

.game .score, .timer{
  padding: 0 15px;
}

.game table {
	width: 450px;
  height: 450px;
  margin: 0 auto;
}

.game td {
	width: 150px;
	height: 150px;
	background-color: #101E03;
	border: 3px solid #70716E;
  border-radius: 5px;
}

.game .show-element {
  background-image: url('images/dora.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.game .dead-dora {
  background-image: url('images/dead-dora.png');
  background-size: 150px;
  background-repeat: no-repeat;
}
#splash, #game-over, .container {
  background-position: center center;
  border: 5px solid #246E07; 
  background-image: url('images/dora-background.jpg');
  background-repeat: no-repeat;
  margin: 0 auto;
}
