
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- layout ---- */

html, body {
  height: 100%;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ------ main game ------ */
.container {
  background-image: url('https://fotografias.antena3.com/clipping/cmsimages02/2018/05/03/E274DF1C-AC16-4B7A-A451-519D48110A9E/58.jpg')
  }
  

/* ------ header ------ */
header {
  font-size: 2em;
  font-weight: bold;
  color: white;

}


/* --- game board --- */
table {
	width: 450px;
  height: 450px;
  margin: 0 auto;
}

td {
	width: 150px;
	height: 150px;
	background-color: black;
	border: 3px solid grey;
  border-radius: 5px;
}




.show-element {
  background-image: url('images/dora.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

.hide-element {
  background-color: black;
}

.dead-dora {
  background-image: url('images/dead-dora.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  background-color: white;
}
